body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 70px;
    font-weight: bold;
}

header {
    background-color: white;
}

a {
    color:#000000;
    font-family: 'Quicksand', sans-serif;
}

a:hover {
    text-decoration: none
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    border: 0;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav > li{
    padding-left:0px;
    padding-right:0px;
  }

.navbar-nav.navbar-center {
    position: fixed;
    left:50%;
    transform: translatex(-50%);
}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
}

.top-buffer {
    margin-top:20px;
}

.wide-space {
    line-height: 30px;
    word-spacing: 3px;
}

p {
    color: grey;
}

.text-bigger {
    font-size: 18px;
}

