body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    font-weight: bold;
}

a {
    color:#000000;
    font-family: 'Quicksand', sans-serif;
}

a:hover {
    text-decoration: none
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: white;
    border: 0;
    font-weight: bolder;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
}

.top-buffer {
    margin-top:20px;
}

.wide-space {
    line-height: 30px;
    word-spacing: 3px;
}

p {
    color: grey;
}

.text-bigger {
    font-size: 18px;
}

